* {
    font-family: 'Libre Baskerville', serif;
}

.home{
    background-image: url("https://images.pexels.com/photos/2434420/pexels-photo-2434420.jpeg");
    background-size: cover;
    height: 92vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.hi {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    color: black;
}

.message {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    color: black;
}